USE [master]
GO
/****** Object:  Database [CategoriaDB_A]    Script Date: 31/8/2026 22:09:52 ******/
CREATE DATABASE [CategoriaDB_A]
 CONTAINMENT = NONE
GO

CREATE LOGIN [usuario_categoriaA]
WITH PASSWORD = '12345',
CHECK_POLICY = OFF,
CHECK_EXPIRATION = OFF
GO

USE [CategoriaDB_A]
GO
/****** Object:  User [usuario_categoriaA]    Script Date: 31/8/2026 22:09:53 ******/
CREATE USER [usuario_categoriaA] FOR LOGIN [usuario_categoriaA] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usuario_categoriaA]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usuario_categoriaA]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 31/8/2026 22:09:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Sedán', N'Automóviles de 4 puertas para uso urbano', 1)
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'SUV', N'Vehículos utilitarios deportivos y familiares', 1)
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Camioneta', N'Vehículos de carga ligera y tracción 4x4', 1)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT ((1)) FOR [Estado]
GO
USE [master]
GO
