USE [master]
GO
/****** Object:  Database [InventarioDB_A]    Script Date: 31/8/2026 22:07:08 ******/
CREATE DATABASE [InventarioDB_A]
GO

CREATE LOGIN [usuario_inventarioA]
WITH PASSWORD = '12345',
CHECK_POLICY = OFF,
CHECK_EXPIRATION = OFF
GO

USE [InventarioDB_A]
GO
/****** Object:  User [usuario_inventarioA]    Script Date: 31/8/2026 22:07:09 ******/
CREATE USER [usuario_inventarioA] FOR LOGIN [usuario_inventarioA] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usuario_inventarioA]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usuario_inventarioA]
GO
/****** Object:  Table [dbo].[Inventarios]    Script Date: 31/8/2026 22:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventarios](
	[IdInventario] [int] IDENTITY(1,1) NOT NULL,
	[IdLibro] [int] NOT NULL,
	[Stock_inventario] [int] NOT NULL,
	[StockMinimo_inventario] [int] NOT NULL,
	[Ubicacion_inventario] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Inventarios] ON 

INSERT [dbo].[Inventarios] ([IdInventario], [IdLibro], [Stock_inventario], [StockMinimo_inventario], [Ubicacion_inventario]) VALUES (1, 1, 20, 2, N'Estante A')
INSERT [dbo].[Inventarios] ([IdInventario], [IdLibro], [Stock_inventario], [StockMinimo_inventario], [Ubicacion_inventario]) VALUES (2, 2, 40, 5, N'Estante B')
INSERT [dbo].[Inventarios] ([IdInventario], [IdLibro], [Stock_inventario], [StockMinimo_inventario], [Ubicacion_inventario]) VALUES (3, 3, 10, 1, N'Estante C')
SET IDENTITY_INSERT [dbo].[Inventarios] OFF
GO
USE [master]
GO
