USE [master]
GO
/****** Object:  Database [LibroDB_A]    Script Date: 31/8/2026 22:00:25 ******/
CREATE DATABASE [LibroDB_A]
GO

CREATE LOGIN [usuario_libroA]
WITH PASSWORD = '12345',
CHECK_POLICY = OFF,
CHECK_EXPIRATION = OFF
GO

USE [LibroDB_A]
GO
/****** Object:  User [usuario_libroA]    Script Date: 31/8/2026 22:00:26 ******/
CREATE USER [usuario_libroA] FOR LOGIN [usuario_libroA] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usuario_libroA]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usuario_libroA]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 31/8/2026 22:00:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[IdLibro] [int] IDENTITY(1,1) NOT NULL,
	[Titulo_libro] [varchar](150) NOT NULL,
	[Autor_libro] [varchar](100) NOT NULL,
	[Isbn_libro] [varchar](100) NOT NULL,
	[Precio_libro] [decimal](10, 2) NOT NULL,
	[Estado_libro] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Libros] ON 

INSERT [dbo].[Libros] ([IdLibro], [Titulo_libro], [Autor_libro], [Isbn_libro], [Precio_libro], [Estado_libro]) VALUES (1, N'Spring in Action', N'Craill Walls', N'0000-2326-1245', CAST(20.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Libros] ([IdLibro], [Titulo_libro], [Autor_libro], [Isbn_libro], [Precio_libro], [Estado_libro]) VALUES (2, N'Harry Potter', N'JKRouwing', N'0012-5626-3698', CAST(35.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Libros] ([IdLibro], [Titulo_libro], [Autor_libro], [Isbn_libro], [Precio_libro], [Estado_libro]) VALUES (3, N'Ciudades de Papel', N'Jonh Green', N'5152-1674-9851', CAST(15.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Libros] OFF
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ((1)) FOR [Estado_libro]
GO
USE [master]
GO
