USE [master]
GO
/****** Object:  Database [VehiculoDB_A]    Script Date: 31/8/2026 22:11:59 ******/
CREATE DATABASE [VehiculoDB_A]
GO

CREATE LOGIN [usuario_vehiculoA]
WITH PASSWORD = '12345',
CHECK_POLICY = OFF,
CHECK_EXPIRATION = OFF
GO

USE [VehiculoDB_A]
GO
/****** Object:  User [usuario_vehiculoA]    Script Date: 31/8/2026 22:12:00 ******/
CREATE USER [usuario_vehiculoA] FOR LOGIN [usuario_vehiculoA] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usuario_vehiculoA]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usuario_vehiculoA]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 31/8/2026 22:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Vehiculos] ON 

INSERT [dbo].[Vehiculos] ([IdVehiculo], [IdCategoria], [Marca], [Modelo], [Precio], [Stock], [Estado]) VALUES (1, 1, N'Toyota', N'Corolla 2024', CAST(24500.00 AS Decimal(10, 2)), 5, 1)
INSERT [dbo].[Vehiculos] ([IdVehiculo], [IdCategoria], [Marca], [Modelo], [Precio], [Stock], [Estado]) VALUES (2, 2, N'Mazda', N'CX-5 2024', CAST(32800.50 AS Decimal(10, 2)), 3, 1)
INSERT [dbo].[Vehiculos] ([IdVehiculo], [IdCategoria], [Marca], [Modelo], [Precio], [Stock], [Estado]) VALUES (3, 3, N'Ford', N'Ranger 2023', CAST(41200.00 AS Decimal(10, 2)), 2, 1)
SET IDENTITY_INSERT [dbo].[Vehiculos] OFF
GO
ALTER TABLE [dbo].[Vehiculos] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Vehiculos] ADD  DEFAULT ((1)) FOR [Estado]
GO
USE [master]
GO
